@import "../../../styles/Home.module.scss";
.container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    height: 14em;
    width: 20em;
    border: 1px solid $border-color-light;
    border-radius: 5px;
    margin-left: 1em;
    background-color: $background-color-light;

    .name {
        display: flex;
        align-items: center;
        img {
            width: 2em;
            margin-right: 1em;
        }
    }
}