@import "../../../styles/Home.module.scss";

.coin_list_container {
  flex-direction: column;
  height: calc(100vh - 24rem);
  overflow-x: scroll;
  padding: 2em 1em;
}
.fade_up {
  display: flex;
  position: relative;
  margin-bottom: -2em;
  height: 2em;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), $background-color-light);
}
.fade_down {
  position: relative;
  display: flex;
  margin-top: -2em;
  height: 2em;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), $background-color-light);
}
