@import "./Home.module.scss";


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 1em 2em;
    color: $base-color_dark;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}
.flex-center_h {
  justify-content: center;
}
